<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="lailson_correios" frontName="lailson_correios">
            <module name="Lailson_Correios"/>
        </route>
    </router>
</config>
